.admin-menu {
    --width: 200px;
    --background: #222;
    --ion-background-color: #222;
    --ion-text-color: #fff;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #800000;
    color: white;
    height: 60px;
  }
  
  .admin-logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
  .logo-container h2 {
    margin: 0;
    font-size: 16px;
  }
  
  .admin-nav-list {
    padding-top: 20px;
    background-color: #222;
  }
  
  .admin-nav-list ion-item {
    --background: transparent;
    --color: #fff;
    --padding-start: 12px;
    --padding-end: 12px;
    --min-height: 46px;
    margin-bottom: 5px;
  }
  
  .admin-nav-list ion-item.selected {
    --background: rgba(128, 0, 0, 0.2);
    --color: #fff;
    border-left: 3px solid #800000;
  }
  
  .admin-nav-list ion-icon {
    color: #fff;
    margin-right: 8px;
    font-size: 18px;
  }
  
  .admin-nav-list ion-label {
    font-size: 14px;
    font-weight: 400;
  }

